services:
  livekit:
    image: livekit/livekit-server:latest
    command: --config /etc/livekit.yaml --dev --node-ip 127.0.0.1
    ports:
      - "7880:7880"
      - "7881:7881"
      - "7882:7882/udp"
      - "50000-50100:50000-50100/udp"
    volumes:
      - ./livekit.yaml:/etc/livekit.yaml:ro
